<%- include("partials/header") -%>	
<section class="short-image no-padding blog-short-title">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-12 short-image-title">
                <h5 class="subtitle-margin second-color">from</h5>
                <h1 class="second-color">our blog</h1>
                <div class="short-title-separator"></div>
            </div>
        </div>
    </div>
</section>

<section class="section-dark section-top-shadow">
    <div class="container page-blog-grid1-container">
        <div class="row">
            <div class="col-xs-12 col-lg-6 blog-grid1-left-col">
                <article class="big-blog-grid1-item zoom-cont">
                    <figure class="pull-left"><a href="blog-right-sidebar.html"><img src="images/big-blog-grid1.jpg" alt="" class="zoom" /></a></figure>
                    <div class="blog-grid1-post-content pull-left">
                        <div class="blog-grid1-topline">
                            <div class="blog-grid1-author pull-left"><i class="fa fa-user"></i>Admin</div>
                            <div class="blog-grid1-date pull-right"><i class="fa fa-calendar-o"></i>28/09/15</div>
                            <div class="clearfix"></div>
                        </div>
                        <a href="blog-right-sidebar.html" class="blog-grid1-title"><h4>It’s much cheaper to buy than to rent</h4></a>
                        <div class="blog-grid1-separator"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet...</p>
                        <a href="blog-right-sidebar.html" class="blog-grid1-button-right">
                            <span>read more</span>
                            <div class="blog-grid1-triangle"></div>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-lg-6 blog-grid1-right-col">
                <article class="blog-grid1-item zoom-cont">
                    <figure class=""><a href="blog-right-sidebar.html"><img src="images/blog-grid1a.jpg" alt="" class="zoom" /></a></figure>
                    <div class="blog-grid1-post-content">
                        <div class="blog-grid1-topline">
                            <div class="blog-grid1-author pull-left"><i class="fa fa-user"></i>Admin</div>
                            <div class="blog-grid1-date pull-right"><i class="fa fa-calendar-o"></i>28/09/15</div>
                            <div class="clearfix"></div>
                        </div>
                        <a href="blog-right-sidebar.html" class="blog-grid1-title"><h4>Home prices are rising, hitting record levels</h4></a>
                        <div class="blog-grid1-separator"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet...</p>
                        <a href="blog-right-sidebar.html" class="blog-grid1-button">
                            <span>read more</span>
                            <div class="blog-grid1-triangle"></div>
                        </a>
                    </div>
                </article>
            </div>
            
            <div class="col-xs-12 col-lg-6 blog-grid1-right-col">
                <article class="blog-grid1-item zoom-cont">
                    <div class="blog-grid1-post-content">
                        <div class="blog-grid1-topline">
                            <div class="blog-grid1-author pull-left"><i class="fa fa-user"></i>Admin</div>
                            <div class="blog-grid1-date pull-right"><i class="fa fa-calendar-o"></i>28/09/15</div>
                            <div class="clearfix"></div>
                        </div>
                        <a href="blog-right-sidebar.html" class="blog-grid1-title"><h4>Real Estate Trends to Watch in 2015</h4></a>
                        <div class="blog-grid1-separator"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet...</p>
                        <a href="blog-right-sidebar.html" class="blog-grid1-button-right">
                            <span>read more</span>
                            <div class="blog-grid1-triangle"></div>
                        </a>
                    </div>
                    <figure class=""><a href="blog-right-sidebar.html"><img src="images/blog-grid1b.jpg" alt="" class="zoom" /></a></figure>

                </article>
            </div>
            <div class="col-xs-12 col-lg-6 blog-grid1-left-col">
                <article class="blog-grid1-item zoom-cont">
                    <figure class=""><a href="blog-right-sidebar.html"><img src="images/blog-grid1c.jpg" alt="" class="zoom" /></a></figure>
                    <div class="blog-grid1-post-content">
                        <div class="blog-grid1-topline">
                            <div class="blog-grid1-author pull-left"><i class="fa fa-user"></i>Admin</div>
                            <div class="blog-grid1-date pull-right"><i class="fa fa-calendar-o"></i>28/09/15</div>
                            <div class="clearfix"></div>
                        </div>
                        <a href="blog-right-sidebar.html" class="blog-grid1-title"><h4>Mortgage rates are still low, but hurry up</h4></a>
                        <div class="blog-grid1-separator"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet...</p>
                        <a href="blog-right-sidebar.html" class="blog-grid1-button">
                            <span>read more</span>
                            <div class="blog-grid1-triangle"></div>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-lg-6 blog-grid1-right-col">
                <article class="blog-grid1-item zoom-cont">
                    <figure class=""><a href="blog-right-sidebar.html"><img src="images/blog-grid1d.jpg" alt="" class="zoom" /></a></figure>
                    <div class="blog-grid1-post-content">
                        <div class="blog-grid1-topline">
                            <div class="blog-grid1-author pull-left"><i class="fa fa-user"></i>Admin</div>
                            <div class="blog-grid1-date pull-right"><i class="fa fa-calendar-o"></i>28/09/15</div>
                            <div class="clearfix"></div>
                        </div>
                        <a href="blog-right-sidebar.html" class="blog-grid1-title"><h4>Why the recovery is going so slowly?</h4></a>
                        <div class="blog-grid1-separator"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet...</p>
                        <a href="blog-right-sidebar.html" class="blog-grid1-button">
                            <span>read more</span>
                            <div class="blog-grid1-triangle"></div>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-lg-6 blog-grid1-left-col">
                <article class="blog-grid1-item zoom-cont">
                    <div class="blog-grid1-post-content">
                        <div class="blog-grid1-topline">
                            <div class="blog-grid1-author pull-left"><i class="fa fa-user"></i>Admin</div>
                            <div class="blog-grid1-date pull-right"><i class="fa fa-calendar-o"></i>28/09/15</div>
                            <div class="clearfix"></div>
                        </div>
                        <a href="blog-right-sidebar.html" class="blog-grid1-title"><h4>Apartment Building Investment Loan Rate</h4></a>
                        <div class="blog-grid1-separator"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet...</p>
                        <a href="blog-right-sidebar.html" class="blog-grid1-button-right">
                            <span>read more</span>
                            <div class="blog-grid1-triangle"></div>
                        </a>
                    </div>
                    <figure class=""><a href="blog-right-sidebar.html"><img src="images/blog-grid1e.jpg" alt="" class="zoom" /></a></figure>
                </article>
            </div>
            <div class="col-xs-12 col-lg-6 blog-grid1-right-col">
                <article class="blog-grid1-item zoom-cont">
                    <div class="blog-grid1-post-content">
                        <div class="blog-grid1-topline">
                            <div class="blog-grid1-author pull-left"><i class="fa fa-user"></i>Admin</div>
                            <div class="blog-grid1-date pull-right"><i class="fa fa-calendar-o"></i>28/09/15</div>
                            <div class="clearfix"></div>
                        </div>
                        <a href="blog-right-sidebar.html" class="blog-grid1-title"><h4>51% people with a mortgage can’t afford to move</h4></a>
                        <div class="blog-grid1-separator"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet...</p>
                        <a href="blog-right-sidebar.html" class="blog-grid1-button-right">
                            <span>read more</span>
                            <div class="blog-grid1-triangle"></div>
                        </a>
                    </div>
                    <figure class=""><a href="blog-right-sidebar.html"><img src="images/blog-grid1f.jpg" alt="" class="zoom" /></a></figure>
                </article>
            </div>
            <div class="col-xs-12 col-lg-6 blog-grid1-left-col">
                <article class="blog-grid1-item zoom-cont">
                    <figure class=""><a href="blog-right-sidebar.html"><img src="images/blog-grid1g.jpg" alt="" class="zoom" /></a></figure>
                    <div class="blog-grid1-post-content">
                        <div class="blog-grid1-topline">
                            <div class="blog-grid1-author pull-left"><i class="fa fa-user"></i>Admin</div>
                            <div class="blog-grid1-date pull-right"><i class="fa fa-calendar-o"></i>28/09/15</div>
                            <div class="clearfix"></div>
                        </div>
                        <a href="blog-right-sidebar.html" class="blog-grid1-title"><h4>10 Year Apartment Building Investment Loan</h4></a>
                        <div class="blog-grid1-separator"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet...</p>
                        <a href="blog-right-sidebar.html" class="blog-grid1-button">
                            <span>read more</span>
                            <div class="blog-grid1-triangle"></div>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-xs-12 col-lg-6 blog-grid1-right-col">
                <article class="blog-grid1-item zoom-cont">
                    <figure class=""><a href="blog-right-sidebar.html"><img src="images/blog-grid1a.jpg" alt="" class="zoom" /></a></figure>
                    <div class="blog-grid1-post-content">
                        <div class="blog-grid1-topline">
                            <div class="blog-grid1-author pull-left"><i class="fa fa-user"></i>Admin</div>
                            <div class="blog-grid1-date pull-right"><i class="fa fa-calendar-o"></i>28/09/15</div>
                            <div class="clearfix"></div>
                        </div>
                        <a href="blog-right-sidebar.html" class="blog-grid1-title"><h4>Do You Know Where Your Apartment Market Is?</h4></a>
                        <div class="blog-grid1-separator"></div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet...</p>
                        <a href="blog-right-sidebar.html" class="blog-grid1-button">
                            <span>read more</span>
                            <div class="blog-grid1-triangle"></div>
                        </a>
                    </div>
                </article>
            </div>
            <div class="col-xs-12">
                <div class="offer-pagination margin-top-45">
                    <a href="#" class="prev"><i class="jfont">&#xe800;</i></a><a class="active">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#" class="next"><i class="jfont">&#xe802;</i></a>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Move to top button -->

<div class="move-top">
<div class="big-triangle-second-color"></div>
<div class="big-icon-second-color"><i class="jfont fa-lg">&#xe803;</i></div>
</div>	
<%- include("login") -%>
	<%- include("register") -%>
	<%- include("forget") -%>
	<%- include("partials/footer") -%>
