<%- include("partials/header") -%>

<form action="/read" id="main" method="post">
	
	<input id="lat0" type="hidden" value="<%=featured[0].latitude%>">
	<input id="lon0" type="hidden" value="<%=featured[0].longitude%>">
	<input name="_id" type="hidden" class="input-full main-input" value="<%=featured[0]._id%>" />
	<input name="email" type="hidden" class="input-full main-input" value="<%=featured[0].email%>" />
</form>
    <section class="no-padding adv-search-section">
		<!-- Slider main container -->
		<div id="swiper1" class="swiper-container">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper">
				<!-- Slides -->
				<div class="swiper-slide">
					<img class="slide-bg swiper-lazy" style="display: block;  
					margin-left: auto;
					margin-right: auto;
					width: 100%;
					height:100%;" src="uploads\<%=featured[0].image[0]%>" alt="">
					<!-- Preloader image -->
					<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
					<div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-2 col-md-offset-4 col-lg-offset-6 slide-desc-col animated fadeInDown slide-desc-1">
								<div class="slide-desc pull-right">
									<div class="slide-desc-text">
										
										<div class="estate-type"><%=featured[0].submitpropertytype%></div>
										<div class="transaction-type"><%=featured[0].submittransaction%></div><br><br>
										<h4 style="color:white;"> <%=featured[0].submitregion%>, <%=featured[0].submitcity%>, <%=featured[0].submitstate%>, INDIA</h4>
										<div class="clearfix"></div>
										
										<p><%=featured[0].submitmessage.slice(0,120)%>
										</p>
									</div>
									<div class="slide-desc-params">	
										<div class="slide-desc-area">
											<img src="images/area-icon.png" alt="" /><%=featured[0].submitarea%> sq<sup>ft</sup>
										</div>
										<div class="slide-desc-rooms">
											<img src="images/rooms-icon.png" alt="" /><%=featured[0].submitbedroom%>
										</div>
										<div class="slide-desc-baths">
											<img src="images/bathrooms-icon.png" alt="" /><%=featured[0].submitbathroom%>
										</div>	
										<div class="slide-desc-parking">
											<img src="images/parking-icon.png" alt="" />1
										</div>	
									</div>
									<div class="slide-desc-price">
										₹<%=featured[0].submitprice%>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="slide-buttons slide-buttons-right">
									<a href="#" class="navigation-box navigation-box-next slide-next"><div class="navigation-triangle"></div><div class="navigation-box-icon"><i class="fa-solid fa-chevron-right"></i></div></a>
									<a href=""  onclick="event.preventDefault();  document.getElementById('main').submit();" class="navigation-box navigation-box-more slide-more"><div class="navigation-triangle"></div><div class="navigation-box-icon"><i class="fa-solid fa-plus"></i></div></a>
									<a href="#" class="navigation-box navigation-box-prev slide-prev"><div class="navigation-triangle"></div><div class="navigation-box-icon"><i class="fa-solid fa-chevron-left"></i></div></a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<form action="/read" id="main1" method="post">
	
					<input id="lat1" type="hidden" value="<%=featured[1].latitude%>">
					<input id="lon1" type="hidden" value="<%=featured[1].longitude%>">
					<input name="_id" type="hidden" class="input-full main-input" value="<%=featured[1]._id%>" />
					<input name="email" type="hidden" class="input-full main-input" value="<%=featured[1].email%>" />
				</form>
				<div class="swiper-slide">
					<img class="slide-bg swiper-lazy" style="display: block;  
					margin-left: auto;
					margin-right: auto;
					width: 100%;
					height:100%;" src="uploads\<%=featured[1].image[0]%>" alt="">
					<!-- Preloader image -->
					<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
					<div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 slide-desc-col animated slide-desc-2">
								<div class="slide-desc pull-left">
									<div class="slide-desc-text">
										
										<div class="estate-type"><%=featured[1].submitpropertytype%></div>
										<div class="transaction-type"><%=featured[1].submittransaction%></div><br><br>
										
										<h4> <%=featured[1].submitregion%>, <%=featured[1].submitcity%>, <%=featured[1].submitstate%>, INDIA</h4>
										<div class="clearfix"></div>
										
										<p><%=featured[1].submitmessage.slice(0,120)%></p>
									</div>
									<div class="slide-desc-params">	
										<div class="slide-desc-area">
											<img src="images/area-icon.png" alt="" /><%=featured[1].submitarea%> sq<sup>ft</sup>
										</div>
										<div class="slide-desc-rooms">
											<img src="images/rooms-icon.png" alt="" /><%=featured[1].submitbedroom%>
										</div>
										<div class="slide-desc-baths">
											<img src="images/bathrooms-icon.png" alt="" /><%=featured[1].submitbathroom%>
										</div>	
										<div class="slide-desc-parking">
											<img src="images/parking-icon.png" alt="" />1
										</div>	
									</div>
									<div class="slide-desc-price">
										₹<%=featured[1].submitprice%>
									</div>		
									<div class="clearfix"></div>										
								</div>
								<div class="slide-buttons slide-buttons-left">
									<a href="#" class="navigation-box navigation-box-next slide-next"><div class="navigation-triangle"></div><div class="navigation-box-icon"><i class="fa-solid fa-chevron-right"></i></div></a>
									<a href="" onclick="event.preventDefault();  document.getElementById('main1').submit();"  class="navigation-box navigation-box-more slide-more"><div class="navigation-triangle"></div><div class="navigation-box-icon"><i class="fa-solid fa-plus"></i></div></a>
									<a href="#" class="navigation-box navigation-box-prev slide-prev"><div class="navigation-triangle"></div><div class="navigation-box-icon"><i class="fa-solid fa-chevron-left"></i></div></a>
								</div>
							</div>
						</div>
					</div>
					
				</div>
				<form action="/read" id="main2" method="post">
	
					<input id="lat2" type="hidden" value="<%=featured[2].latitude%>">
					<input id="lon2" type="hidden" value="<%=featured[2].longitude%>">
					<input name="_id" type="hidden" class="input-full main-input" value="<%=featured[2]._id%>" />
					<input name="email" type="hidden" class="input-full main-input" value="<%=featured[2].email%>" />
				</form>
				<div class="swiper-slide">
					<img class="slide-bg swiper-lazy" style="display: block;  
					margin-left: auto;
					margin-right: auto;
					width: 100%;
					height:100%;" src="uploads\<%=featured[2].image[0]%>" alt="">
					<!-- Preloader image -->
					<div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
					<div class="container">
                        <div class="row">
                            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6 col-sm-offset-1 col-md-offset-2 col-lg-offset-3 slide-desc-col animated slide-desc-3">
								<div class="slide-desc center-block">
									<div class="slide-desc-text">
										
										<div class="estate-type"><%=featured[2].submitpropertytype%></div>
										<div class="transaction-type"><%=featured[2].submittransaction%></div><br><br>
										<h4><%=featured[2].submitregion%>, <%=featured[2].submitcity%>, <%=featured[2].submitstate%>, INDIA</h4>
										<div class="clearfix"></div>
										
										<p> <%=featured[2].submitmessage.slice(0,120)%>
										</p>
									</div>
									<div class="slide-desc-params">	
										<div class="slide-desc-area">
											<img src="images/area-icon.png" alt="" /><%=featured[2].submitarea%> sq<sup>ft</sup>
										</div>
										<div class="slide-desc-rooms">
											<img src="images/rooms-icon.png" alt="" /><%=featured[2].submitbedroom%>
										</div>
										<div class="slide-desc-baths">
											<img src="images/bathrooms-icon.png" alt="" /><%=featured[2].submitbathroom%>
										</div>	
										<div class="slide-desc-parking">
											<img src="images/parking-icon.png" alt="" />1
										</div>	
									</div>
									<div class="slide-desc-price">
										₹<%=featured[2].submitprice%>
									</div>		
									<div class="clearfix"></div>									
								</div>
								<div class="slide-buttons slide-buttons-center">
									<a href="#" class="navigation-box navigation-box-next slide-next"><div class="navigation-triangle"></div><div class="navigation-box-icon"><i class="fa-solid fa-chevron-right"></i></div></a>
									<a href="" onclick="event.preventDefault();  document.getElementById('main2').submit();"  class="navigation-box navigation-box-more slide-more"><div class="navigation-triangle"></div><div class="navigation-box-icon"><i class="fa-solid fa-plus"></i></div></a>
									<a href="#" class="navigation-box navigation-box-prev slide-prev"><div class="navigation-triangle"></div><div class="navigation-box-icon"><i class="fa-solid fa-chevron-left"></i></div></a>
								</div>
							
							</div>
						</div>
					</div>
				</div> 
				
			</div>
		</div>



		<form class="adv-search-form" action="/search" method="post">
			<div class="adv-search-cont">
				<div class="container">
					<div class="row">
						<div class="col-xs-12 col-lg-11 adv-search-icons">
							<!-- Nav tabs -->
							<ul class="nav nav-tabs adv-search-tabs" role="tablist">
								<li role="presentation" class="active" data-toggle="tooltip" data-placement="top" title="apartments"><a href="#apartments" aria-controls="apartments" role="tab" data-toggle="tab" id="adv-search-tab1"><i class="fa fa-building"></i></a></li>
								<li role="presentation" data-toggle="tooltip" data-placement="top" title="houses"><a href="#houses" aria-controls="houses" role="tab" data-toggle="tab" id="adv-search-tab2"><i class="fa fa-home"></i></a></li>
								<li role="presentation" data-toggle="tooltip" data-placement="top" title="commercials"><a href="#commercials" aria-controls="commercials" role="tab" data-toggle="tab" id="adv-search-tab3"><i class="fa fa-industry"></i></a></li>
								<li role="presentation" data-toggle="tooltip" data-placement="top" title="lands"><a href="#lands" aria-controls="lands" role="tab" data-toggle="tab" id="adv-search-tab4"><i class="fa fa-tree"></i></a></li> 
							</ul>
						</div>
						<div class="col-lg-1 visible-lg">
							<a id="adv-search-hide" href="#"><i class="fa-solid fa-chevron-down"></i></a>
						</div>
					</div>
				</div>
				<div class="container">
			<div class="row tab-content">
				<div role="tabpanel" class="col-xs-12 adv-search-outer tab-pane fade in active" id="apartments">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="transaction1" class="bootstrap-select m"  title="Transaction:"  >
								<option  value="A For sale">For sale</option>
								<option value="A For rent">For rent</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							
							<select name="state1" class="bootstrap-select" title="Country:"   data-actions-box="true">
								
								<%ApartmentState.forEach(element=>{%>
									<%element.forEach(part=>{%>
										
									<option class="a" value="<%=part%>"><%=part%></option>
									<br>
									<%});%>
								<%});%>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="city1" class="bootstrap-select" title="City:"  data-actions-box="true">
								
								<%ApartmentCity.forEach(element=>{%>
									<%element.forEach(part=>{%>
								<option class="a" value="<%=part%>"><%=part%></option>
								<br>
								<%});%>
									
								<%});%>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="location1" class="bootstrap-select" title="Location:"  data-actions-box="true">
								
								<%ApartmentRegion.forEach(element=>{%>
									<%element.forEach(part=>{%>
									
								<option class="a" value="<%=part%>"><%=part%></option>
								<br>
								<%});%>
								<%});%>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">	
								<label for="slider-range-price1-value" class="adv-search-label">Price:</label>
								<span>Rs</span>
								<input type="text" id="slider-range-price1-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-price1" data-min="0" data-max="300000000000" name="price" class="slider-range"></div>
							</div>
							
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">	
								<label for="slider-range-area1-value" class="adv-search-label">Area:</label>
								<span>m<sup>2</sup></span>
								<input type="text" id="slider-range-area1-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-area1" data-min="0" data-max="55580" name="area" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">	
								<label for="slider-range-bedrooms1-value" class="adv-search-label">Bedrooms:</label>
								<input type="text" id="slider-range-bedrooms1-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-bedrooms1" data-min="1" data-max="10" name="bedrooms" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">	
								<label for="slider-range-bathrooms1-value" class="adv-search-label">Bathrooms:</label>
								<input type="text" id="slider-range-bathrooms1-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-bathrooms1" data-min="1" data-max="9" name="bathrooms"class="slider-range"></div>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="col-xs-12 adv-search-outer tab-pane fade" id="houses">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="transaction1" class="bootstrap-select" title="Transaction:" >
								<option vlaue="H For sale">For sale</option>
								<option value="H For rent">For rent</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							
							<select name="state2" class="bootstrap-select" title="Country:"  data-actions-box="true">
								
								<%HouseState.forEach(element=>{%>
									<%element.forEach(part=>{%>
							
										<option value="<%=part%>"><%=part%></option>
										<br>
										<%});%>
									
								
								<%});%>
								
								<!-- <option>Canada</option>
								<option>Mexico</option> -->
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="city2" class="bootstrap-select" title="City:" data-actions-box="true">
								<%HouseCity.forEach(element=>{%>
									<%element.forEach(part=>{%>
										<option value="<%=part%>"><%=part%></option>
										<br>
									<%});%>
							
								
								
								
								<%});%>

							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="location2" class="bootstrap-select" title="Location:"  data-actions-box="true">

								<%HouseRegion.forEach(element=>{%>
									<%element.forEach(part=>{%>
							
								<option value="<%=part%>"><%=part%></option>
								<br>
								<%});%>
								
								
								<%});%>
						
								
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">	
								<label for="slider-range-price2-value" class="adv-search-label">Price:</label>
								<span>Rs</span>
								<input type="text" id="slider-range-price2-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-price2" data-min="0" data-max="300000" name="price" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">	
								<label for="slider-range-area2-value" class="adv-search-label">Area:</label>
								<span>m<sup>2</sup></span>
								<input type="text" id="slider-range-area2-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-area2" data-min="0" data-max="180" name="area" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">	
								<label for="slider-range-bedrooms2-value" class="adv-search-label">Bedrooms:</label>
								<input type="text" id="slider-range-bedrooms2-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-bedrooms2" data-min="1" data-max="10" name="bedrooms" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">	
								<label for="slider-range-bathrooms2-value" class="adv-search-label">Bathrooms:</label>
								<input type="text" id="slider-range-bathrooms2-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-bathrooms2" data-min="1" data-max="9" name="bathrooms" class="slider-range"></div>
							</div>
						</div>
					</div>
				</div>
				
				<div role="tabpanel" class="col-xs-12 adv-search-outer tab-pane fade" id="commercials">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="transaction1" class="bootstrap-select" title="Transaction:" >
								<option value="C For sale">For sale</option>
								<option value="C For rent">For rent</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							
							<select name="state3" class="bootstrap-select" title="Country:"  data-actions-box="true">
								
								<%CommercialState.forEach(element=>{%>
									<%element.forEach(docs=>{%>
								
										<option class="a" value="<%=element%>"><%=element%></option>
										<br>
										<%});%>
							
								
								<%});%>
								
								
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="city3" class="bootstrap-select" title="City:"  data-actions-box="true">
								<%CommercialCity.forEach(element=>{%>
									<%element.forEach(docs=>{%>
					
								<option class="a" value="<%=element%>"><%=element%></option>
								<br>
								<%});%>
								
								
								<%});%>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="location3" class="bootstrap-select" title="Location:"  data-actions-box="true">
								<%CommercialRegion.forEach(element=>{%>
									<%element.forEach(docs=>{%>
					
								<option class="a" value="<%=element%>"><%=element%></option>
								<br>
								<%});%>
								
								
								<%});%>
							</select>
						</div>
					</div>
					<div class="row">
					<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="type" class="bootstrap-select short-margin" title="Type:" >
								<option value="Shop/service">Shop/service</option>
								<option value="Factory">Factory</option>
								<option value="Warehouse">Warehouse</option>
								<option value="Office">Office</option>
								<option value="Other">Other</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">	
								<label for="slider-range-price3-value" class="adv-search-label">Price:</label>
								<span>Rs</span>
								<input type="text" id="slider-range-price3-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-price3" data-min="0" data-max="3000000000" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">	
								<label for="slider-range-area3-value" class="adv-search-label">Area:</label>
								<span>m<sup>2</sup></span>
								<input type="text" id="slider-range-area3-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-area3" data-min="0" data-max="580" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">	
								<label for="slider-range-bedrooms3-value" class="adv-search-label">Rooms:</label>
								<input type="text" id="slider-range-bedrooms3-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-bedrooms3" data-min="1" data-max="10" class="slider-range"></div>
							</div>
						</div>
					</div>
				</div>
				<div role="tabpanel" class="col-xs-12 adv-search-outer tab-pane fade" id="lands">
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="transaction1" class="bootstrap-select" title="Transaction:" >
								<option value="L For sale">For sale</option>
								<option value="L For rent">For rent</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							
							<select name="state4" class="bootstrap-select" title="Country:"  data-actions-box="true">
								
								<%LandState.forEach(element=>{%>
									<%element.forEach(docs=>{%>
					
										<option value="<%=element%>"><%=element%></option>
										<br>
									<%});%>

							
								<%});%>
								
								
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="city4" class="bootstrap-select" title="City:" multiple data-actions-box="true">
								<%LandCity.forEach(element=>{%>
									<%element.forEach(docs=>{%>
			
								<option class="a" value="<%=element%>"><%=element%></option>
								<br>
								<%});%>
								
								<%});%>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="location4" class="bootstrap-select" title="Location:" multiple data-actions-box="true">
								<%LandRegion.forEach(element=>{%>
									<%element.forEach(docs=>{%>
									
								<option class="a" value="<%=element%>"><%=element%></option>
								<br>
								<%});%>
							
								
								<%});%>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<select name="type" class="bootstrap-select short-margin" title="Type:" multiple>
								<option value="Field">Field</option>
								<option value="Recreational">Recreational</option>
								<option value="Orchard">Orchard</option>
								<option value="Forest">Forest</option>
								<option value="Other">Other</option>
							</select>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">	
								<label for="slider-range-price4-value" class="adv-search-label">Price:</label>
								<span>Rs</span>
								<input type="text" id="slider-range-price4-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-price4" data-min="0" data-max="3000000000" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							<div class="adv-search-range-cont">	
								<label for="slider-range-area4-value" class="adv-search-label">Area:</label>
								<span>ha</span>
								<input type="text" id="slider-range-area4-value" readonly class="adv-search-amount">
								<div class="clearfix"></div>
								<div id="slider-range-area4" data-min="0" data-max="500" class="slider-range"></div>
							</div>
						</div>
						<div class="col-xs-12 col-sm-6 col-lg-3">
							
						</div>
					</div>
					
				</div>
			</div>
		</div>
	
				
				
				<div class="container">
					<div class="row">
						<div class="col-sm-12 col-md-6 col-lg-3 col-md-offset-6 col-lg-offset-9 adv-search-button-cont">
							<button style="all: unset;" type="submit"><a href="#" class="button-primary pull-right">
								<span>search</span>
								<div class="button-triangle"></div>
								<div class="button-triangle2"></div>
								<div class="button-icon"><i class="fa fa-search"></i></div>
							</a>
						</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	
    </section>

	
    <!-- <section class="section-light bottom-padding-45 section-both-shadow">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-lg-3">
					<div class="feature wow fadeInLeft" id="feature1">
						<div class="feature-icon center-block"><i class="fa fa-building"></i></div>
						<div class="feature-text">
							<h5 class="subtitle-margin">PIXEL PERFECT</h5>
							<h3>Apartment <span class="special-color">.</span></h3>
							<div class="title-separator center-block feature-separator"></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>
					</div>
				</div>			
				<div class="col-sm-6 col-lg-3">
					<div class="feature wow fadeInUp" id="feature2">
						<div class="feature-icon center-block"><i class="fa fa-home"></i></div>
						<div class="feature-text">
							<h5 class="subtitle-margin">FIFTY</h5>
							<h3>Independent House<span class="special-color">.</span></h3>
							<div class="title-separator center-block feature-separator"></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>
					</div>
				</div>			
				<div class="col-sm-6 col-lg-3">
					<div class="feature wow fadeInUp" id="feature3">
						<div class="feature-icon center-block"><i class="fa fa-industry"></i></div>
						<div class="feature-text">
							<h5 class="subtitle-margin">MASONRY, LIST &amp; GRID</h5>
							<h3>Commercial<span class="special-color">.</span></h3>
							<div class="title-separator center-block feature-separator"></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>
					</div>
				</div>			
				<div class="col-sm-6 col-lg-3">
					<div class="feature wow fadeInRight" id="feature4">
						<div class="feature-icon center-block"><i class="fa fa-tree"></i></div>
						<div class="feature-text">
							<h5 class="subtitle-margin">MODERN &amp; CLEAN</h5>
							<h3>Land<span class="special-color">.</span></h3>
							<div class="title-separator center-block feature-separator"></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
    </section> -->

    <section class="featured-offers parallax">
		
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-9">
					<h5 class="subtitle-margin second-color">highly recommended</h5>
							<h1 class="second-color">featured offers<span class="special-color">.</span></h1>
				</div>
				<div class="col-xs-12 col-sm-3">
					<a href="#" class="navigation-box navigation-box-next" id="featured-offers-owl-next"><div class="navigation-triangle"></div><div class="navigation-box-icon"><i class="fa-solid fa-chevron-right"></i></div></a>
					<a href="#" class="navigation-box navigation-box-prev" id="featured-offers-owl-prev"><div class="navigation-triangle"></div><div class="navigation-box-icon"><i class="fa-solid fa-chevron-left"></i></div></a>								
				</div>
				<div class="col-xs-12">
					<div class="title-separator-secondary" style="background-color: white;"></div>
				</div>
			</div>
		</div>
	
		<div class="featured-offers-container">
			<div class="searchrow"></div>
			<div class="owl-carousel" id="featured-offers-owl">
				<form action="/read" id="feature" method="post">
					<div class="featured-offer-col">
						<div class="featured-offer-front">
							<div class="featured-offer-photo">
								<img src='uploads\<%=featured[0].image[0]%>' alt="" />
								<div class="type-container">
									<div class="estate-type"><%=featured[0].submitpropertytype%></div>
									<div class="transaction-type"><%=featured[0].submittransaction%></div>
								</div>
								
							</div>
							<div class="featured-offer-text">
								<h4 class="featured-offer-title"> <%=featured[0].submitregion%>, <%=featured[0].submitcity%>, <%=featured[0].submitstate%>, INDIA</h4>
								<p><%=featured[0].submitmessage.slice(0,120)%></p>
							</div>
							<div class="featured-offer-params">
								<div class="featured-area">
									<img src="images/area-icon.png" alt="" /><%=featured[0].submitarea%> sq<sup>ft</sup>
								</div>
								<div class="featured-rooms">
									<img src="images/rooms-icon.png" alt="" /><%=featured[0].submitbedroom%>
								</div>
								<div class="featured-baths">
									<img src="images/bathrooms-icon.png" alt="" /><%=featured[0].submitbathroom%>
								</div>							
							</div>
							<div class="featured-price">
								₹<%=featured[0].submitprice%>
							</div>
							
						</div>
						
						
							<input id="lat0" type="hidden" value="<%=featured[0].latitude%>">
							<input id="lon0" type="hidden" value="<%=featured[0].longitude%>">
							<input name="_id" type="hidden" class="input-full main-input" value="<%=featured[0]._id%>" />
							<input name="email" type="hidden" class="input-full main-input" value="<%=featured[0].email%>" />
						<div class="featured-offer-back">
						
							<div id="map0" class="featured-offer-map"></div>
							<div class="button">	
								<a href="/read" onclick="event.preventDefault();  document.getElementById('feature').submit();" class="button-primary">
									<span>read more</span>
									<div class="button-triangle"></div>
									<div class="button-triangle2"></div>
									<div class="button-icon"><i class="fa fa-search"></i></div>
								</a>
							</div>
						</div>
					
					</form>
						
					</div>
					<form action="/read" id="feature1" method="post">
					<div class="featured-offer-col">
						<div class="featured-offer-front">
							<div class="featured-offer-photo">
								<img src='uploads\<%=featured[1].image[0]%>' alt="" />
								<div class="type-container">
									<div class="estate-type"><%=featured[1].submitpropertytype%></div>
									<div class="transaction-type"><%=featured[1].submittransaction%></div>
								</div>
								
							</div>
							<div class="featured-offer-text">
								<h4 class="featured-offer-title"><%=featured[1].submitregion%>, <%=featured[1].submitcity%>, <%=featured[1].submitstate%>, INDIA</h4>
								<p><%=featured[1].submitmessage.slice(0,120)%></p>
							</div>
							<div class="featured-offer-params">
								<div class="featured-area">
									<img src="images/area-icon.png" alt="" /><%=featured[1].submitarea%>sq<sup>ft</sup>
								</div>
								<div class="featured-rooms">
									<img src="images/rooms-icon.png" alt="" /><%=featured[1].submitbedroom%>
								</div>
								<div class="featured-baths">
									<img src="images/bathrooms-icon.png" alt="" /><%=featured[1].submitbathroom%>
								</div>							
							</div>
							<div class="featured-price">
								₹<%=featured[1].submitprice%>
							</div>
							
						</div>
						
						<input id="lat1" type="hidden" value="<%=featured[1].latitude%>"/>
							<input id="lon1" type="hidden" value="<%=featured[1].longitude%>">
							<input name="_id" type="hidden" class="input-full main-input" value="<%=featured[1]._id%>" />
							<input name="email" type="hidden" class="input-full main-input" value="<%=featured[1].email%>" />
						
							
							
						<div class="featured-offer-back">
							
							<div id="map1" class="featured-offer-map"></div>
							<div class="button">	
								<a href="/read" onclick="event.preventDefault();  document.getElementById('feature1').submit();" class="button-primary">
									<span>read more</span>
									<div class="button-triangle"></div>
									<div class="button-triangle2"></div>
									<div class="button-icon"><i class="fa fa-search"></i></div>
								</a>
							</div>
						</div>
					</form>
						
					</div>
					<form action="/read" id="feature2" method="post">
					<div class="featured-offer-col">
						<div class="featured-offer-front">
							<div class="featured-offer-photo">
								<img src='uploads\<%=featured[2].image[0]%>' alt="" />
								<div class="type-container">
									<div class="estate-type"><%=featured[2].submitpropertytype%></div>
									<div class="transaction-type"><%=featured[2].submittransaction%></div>
								</div>
								
							</div>
							<div class="featured-offer-text">
								<h4 class="featured-offer-title"><%=featured[2].submitregion%>, <%=featured[2].submitcity%>, <%=featured[2].submitstate%>, INDIA</h4>
								<p><%=featured[2].submitmessage.slice(0,120)%></p>
							</div>
							<div class="featured-offer-params">
								<div class="featured-area">
									<img src="images/area-icon.png" alt="" /><%=featured[2].submitarea%> sq<sup>ft</sup>
								</div>
								<div class="featured-rooms">
									<img src="images/rooms-icon.png" alt="" /><%=featured[2].submitbedroom%>
								</div>
								<div class="featured-baths">
									<img src="images/bathrooms-icon.png" alt="" /><%=featured[2].submitbathroom%>
								</div>							
							</div>
							<div class="featured-price">
								₹<%=featured[2].submitprice%>
							</div>
							
						</div>
					
						
								<input id="lat2" type="hidden" value="<%=featured[2].latitude%>">
							<input id="lon2" type="hidden" value="<%=featured[2].longitude%>">
							<input name="_id" type="hidden" class="input-full main-input" value="<%=featured[2]._id%>" />
							<input name="email" type="hidden" class="input-full main-input" value="<%=featured[2].email%>" />
						<div class="featured-offer-back">
							
							<div id="map2" class="featured-offer-map"></div>
							<div class="button">	
								<a href="/read" onclick="event.preventDefault();  document.getElementById('feature2').submit();" class="button-primary">
									<span>read more</span>
									<div class="button-triangle"></div>
									<div class="button-triangle2"></div>
									<div class="button-icon"><i class="fa fa-search"></i></div>
								</a>
							</div>
						</div>
					</form>
				</div>
					<form action="/read" id="feature3" method="post">
					<div class="featured-offer-col">
						<div class="featured-offer-front">
							<div class="featured-offer-photo">
								<img src='uploads\<%=featured[3].image[0]%>' alt="" />
								<div class="type-container">
									<div class="estate-type"><%=featured[3].submitpropertytype%></div>
									<div class="transaction-type"><%=featured[3].submittransaction%></div>
								</div>
								
							</div>
							<div class="featured-offer-text">
								<h4 class="featured-offer-title"><%=featured[3].submitregion%>, <%=featured[3].submitcity%>, <%=featured[3].submitstate%>, INDIA</h4>
								<p><%=featured[3].submitmessage.slice(0,120)%></p>
							</div>
							<div class="featured-offer-params">
								<div class="featured-area">
									<img src="images/area-icon.png" alt="" /><%=featured[3].submitarea%> sq<sup>ft</sup>
								</div>
								<div class="featured-rooms">
									<img src="images/rooms-icon.png" alt="" /><%=featured[3].submitbedroom%>
								</div>
								<div class="featured-baths">
									<img src="images/bathrooms-icon.png" alt="" /><%=featured[3].submitbathroom%>
								</div>							
							</div>
							<div class="featured-price">
								₹<%=featured[3].submitprice%>
							</div>
							
						</div>
					
						
								<input id="lat3" type="hidden" value="<%=featured[3].latitude%>">
							<input id="lon3" type="hidden" value="<%=featured[3].longitude%>">
							<input name="_id" type="hidden" class="input-full main-input" value="<%=featured[3]._id%>" />
							<input name="email" type="hidden" class="input-full main-input" value="<%=featured[3].email%>" />
						<div class="featured-offer-back">
							
							<div id="map3" class="featured-offer-map"></div>
							<div class="button">	
								<a href="/read" onclick="event.preventDefault();  document.getElementById('feature3').submit();" class="button-primary">
									<span>read more</span>
									<div class="button-triangle"></div>
									<div class="button-triangle2"></div>
									<div class="button-icon"><i class="fa fa-search"></i></div>
								</a>
							</div>
						</div>
					</form>
				</div>
					<form action="/read" id="feature4" method="post">
					<div class="featured-offer-col">
						<div class="featured-offer-front">
							<div class="featured-offer-photo">
								<img src='uploads\<%=featured[4].image[0]%>' alt="" />
								<div class="type-container">
									<div class="estate-type"><%=featured[4].submitpropertytype%></div>
									<div class="transaction-type"><%=featured[4].submittransaction%></div>
								</div>
								
							</div>
							<div class="featured-offer-text">
								<h4 class="featured-offer-title"><%=featured[4].submitregion%>, <%=featured[4].submitcity%>, <%=featured[4].submitstate%>, INDIA</h4>
								<p><%=featured[4].submitmessage.slice(0,120)%></p>
							</div>
							<div class="featured-offer-params">
								<div class="featured-area">
									<img src="images/area-icon.png" alt="" /><%=featured[4].submitarea%> sq<sup>ft</sup>
								</div>
								<div class="featured-rooms">
									<img src="images/rooms-icon.png" alt="" /><%=featured[4].submitbedroom%>
								</div>
								<div class="featured-baths">
									<img src="images/bathrooms-icon.png" alt="" /><%=featured[4].submitbathroom%>
								</div>							
							</div>
							<div class="featured-price">
								₹<%=featured[4].submitprice%>
							</div>
							
						</div>
					
						
								<input id="lat4" type="hidden" value="<%=featured[4].latitude%>">
							<input id="lon4" type="hidden" value="<%=featured[4].longitude%>">
							<input name="_id" type="hidden" class="input-full main-input" value="<%=featured[4]._id%>" />
							<input name="email" type="hidden" class="input-full main-input" value="<%=featured[4].email%>" />
						<div class="featured-offer-back">
							
							<div id="map4" class="featured-offer-map"></div>
							<div class="button">	
								<a href="/read" onclick="event.preventDefault();  document.getElementById('feature4').submit();" class="button-primary">
									<span>read more</span>
									<div class="button-triangle"></div>
									<div class="button-triangle2"></div>
									<div class="button-icon"><i class="fa fa-search"></i></div>
								</a>
							</div>
						</div>
					</form>
						
					</div>
				
		
	</div>
		
			</div>
		</div>
    </section>
	
	
	<section class="testimonials parallax">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-9">
					<h5 class="subtitle-margin second-color">recommendations</h5>
							<h1 class="second-color">our clients say<span class="special-color">.</span></h1>
				</div>
				<div class="col-xs-12 col-sm-3">
					<a href="#" class="navigation-box navigation-box-next" id="testimonials-owl-next"><div class="navigation-triangle"></div><div class="navigation-box-icon"><i class="fa-solid fa-chevron-right"></i></div></a>
					<a href="#" class="navigation-box navigation-box-prev" id="testimonials-owl-prev"><div class="navigation-triangle"></div><div class="navigation-box-icon"><i class="fa-solid fa-chevron-left"></i></div></a>
				</div>
				<div class="col-xs-12">
					<div class="title-separator-secondary"></div>
				</div>
			</div>
		</div>

			<div class="container margin-top-90">
				<div class="row">
					<div class="col-xs-12 owl-carousel" id="testimonials-owl">
						<div class="testimonial">
							<img src="images/testimonials1.jpg" alt="" class="testimonials-photo" />	
							<div class="testimonials-content">							
								<p class="lead">New Homes</p>
								<p>This platform help every one to ease their work and also this is the best real estate website till date in India it genuinely helps for buyers & sellers and especially for bachelors who are searching for rented house. It is user friendly and their customer service is also great.</p>
							</div>
							<div class="big-triangle">							
								</div>
								<div class="big-icon"><i class="fa fa-quote-right fa-lg"></i></div>
						</div>
						<div class="testimonial">
							<img src="images/testimonials2.jpg" alt="" class="testimonials-photo" />	
							<div class="testimonials-content">
								<p class="lead">Star Realestate</p>
								<p>I am glad to deal with this genuine and profitable dealers in this website also customer service is excellent. Provides easy transaction with lots of benifites</p>
								<div class="big-triangle">							
								</div>
								<div class="big-icon"><i class="fa fa-quote-right fa-lg"></i></div>
							</div>
						</div>
						<div class="testimonial">
							<img src="images/testimonials3.jpg" alt="" class="testimonials-photo" />
							<div class="testimonials-content">
								<p class="lead">Raj &amp;Realestate</p>
								<p>Excellent support, though they can be more effective by streamlining their process of connecting buyers to the sellers more effectively.Overall it was a good experience. The relationship manager was helpful in filtering and routing the buyers to me.</p>
								<div class="big-triangle">							
								</div>
								<div class="big-icon"><i class="fa fa-quote-right fa-lg"></i></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<%- include("newlisting") -%>
	
	<!-- <section class="section-dark">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-12">
					<h5 class="subtitle-margin">latest from</h5>
							<h1 class="">our blog<span class="special-color">.</span></h1>
				</div>
			
				<div class="col-xs-12">
					<div class="title-separator-primary"></div>
				</div>
			</div>
		</div>
		<div class="container blog-grid1-container">
			<div class="row">
				<div class="col-md-12 col-lg-6 blog-grid1-left-col">
					<article class="blog-grid1-item zoom-cont">
						<figure class=""><a href="blog-right-sidebar.html"><img src="images/featured-offer1.jpg" alt="" class="zoom" /></a></figure>
						<div class="blog-grid1-post-content">
							<div class="blog-grid1-topline">
								<div class="blog-grid1-author pull-left"><i class="fa fa-user"></i>Admin</div>
								<div class="blog-grid1-date pull-right"><i class="fa fa-calendar-o"></i>28/09/15</div>
								<div class="clearfix"></div>
							</div>
							<a href="blog-right-sidebar.html" class="blog-grid1-title"><h4>It’s much cheaper to buy than to rent</h4></a>
							<div class="blog-grid1-separator"></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet...</p>
							<a href="blog-right-sidebar.html" class="blog-grid1-button">
								<span>read more</span>
								<div class="blog-grid1-triangle"></div>
							</a>
						</div>
					</article>
				</div>
				<div class="col-md-12 col-lg-6 blog-grid1-right-col">
					<article class="blog-grid1-item zoom-cont">
						<figure class=""><a href="blog-right-sidebar.html"><img src="images/featured-offer2.jpg" alt="" class="zoom" /></a></figure>
						<div class="blog-grid1-post-content">
							<div class="blog-grid1-topline">
								<div class="blog-grid1-author pull-left"><i class="fa fa-user"></i>Admin</div>
								<div class="blog-grid1-date pull-right"><i class="fa fa-calendar-o"></i>28/09/15</div>
								<div class="clearfix"></div>
							</div>
							<a href="blog-right-sidebar.html" class="blog-grid1-title"><h4>It’s much cheaper to buy than to rent</h4></a>
							<div class="blog-grid1-separator"></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet...</p>
							<a href="blog-right-sidebar.html" class="blog-grid1-button">
								<span>read more</span>
								<div class="blog-grid1-triangle"></div>
							</a>
						</div>
					</article>
				</div>
				<div class="col-md-12 col-lg-6 blog-grid1-left-col">
					<article class="blog-grid1-item zoom-cont">
						<div class="blog-grid1-post-content">
							<div class="blog-grid1-topline">
								<div class="blog-grid1-author pull-left"><i class="fa fa-user"></i>Admin</div>
								<div class="blog-grid1-date pull-right"><i class="fa fa-calendar-o"></i>28/09/15</div>
								<div class="clearfix"></div>
							</div>
							<a href="blog-right-sidebar.html" class="blog-grid1-title"><h4>It’s much cheaper to buy than to rent</h4></a>
							<div class="blog-grid1-separator"></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet...</p>
							<a href="blog-right-sidebar.html" class="blog-grid1-button-right">
								<span>read more</span>
								<div class="blog-grid1-triangle"></div>
							</a>
						</div>
						<figure class=""><a href="blog-right-sidebar.html"><img src="images/featured-offer3.jpg" alt="" class="zoom" /></a></figure>
					</article>
				</div>
				<div class="col-md-12 col-lg-6 blog-grid1-right-col">
					<article class="blog-grid1-item zoom-cont">
						<div class="blog-grid1-post-content">
							<div class="blog-grid1-topline">
								<div class="blog-grid1-author pull-left"><i class="fa fa-user"></i>Admin</div>
								<div class="blog-grid1-date pull-right"><i class="fa fa-calendar-o"></i>28/09/15</div>
								<div class="clearfix"></div>
							</div>
							<a href="blog-right-sidebar.html" class="blog-grid1-title"><h4>It’s much cheaper to buy than to rent</h4></a>
							<div class="blog-grid1-separator"></div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet...</p>
							<a href="blog-right-sidebar.html" class="blog-grid1-button-right">
								<span>read more</span>
								<div class="blog-grid1-triangle"></div>
							</a>
						</div>
						<figure class=""><a href="blog-right-sidebar.html"><img src="images/featured-offer4.jpg" alt="" class="zoom" /></a></figure>
					</article>
				</div>
			</div>
		</div>
	</section>
	 -->
	<section class="section-light top-padding-45 bottom-padding-45">
		<div class="container">
			<div class="row count-container">
				<div class="col-xs-6 col-lg-3">
					<div class="number" id="number1">
						<div class="number-img">	
							<i class="fa fa-building"></i>
						</div>
						<span class="number-label text-color2">APARTMENTS</span>
						<span class="number-big text-color3 count" data-from="0" data-to="130" data-speed="2000"></span>
					</div>
				</div>
				<div class="col-xs-6 col-lg-3 number_border">
					<div class="number" id="number2">
						<div class="number-img">	
							<i class="fa fa-home"></i>	
						</div>			
						<span class="number-label text-color2">HOUSES</span>
						<span class="number-big text-color3 count" data-from="0" data-to="107" data-speed="2000"></span>
					</div>
				</div>
				<div class="col-xs-6 col-lg-3 number_border3">
					<div class="number" id="number3">
						<div class="number-img">	
							<i class="fa fa-industry"></i>
						</div>
						<span class="number-label text-color2">COMMERCIAL</span>
						<span class="number-big text-color3 count" data-from="0" data-to="149" data-speed="2000"></span>
					</div>
				</div>
				<div class="col-xs-6 col-lg-3 number_border">
					<div class="number" id="number4">
						<div class="number-img">
							<i class="fa fa-tree"></i>
						</div>
						<span class="number-label text-color2">LAND</span>
						<span class="number-big text-color3 count" data-from="0" data-to="25" data-speed="2000"></span>
					</div>
				</div>
			</div>
		</div>
	</section>	
	
	
	 <%if(verify){%>
		<script>
			window.onload = function(){
		  document.getElementById('registermodalcheck').click();
		  
		var scriptTag = document.createElement("script");
		scriptTag.src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js";
		document.getElementsByTagName("head")[0].appendChild(scriptTag);
		
		}
		
		
		</script>
		
		<%};%>
	 
	



<%- include("login") -%>
<%- include("register") -%>

<%- include("forget") -%>
<%- include("partials/footer") -%>