
  		<%- include("partials/header") -%>
		
    <section class="short-image no-padding blog-short-title">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-12 short-image-title">
					<h5 class="subtitle-margin second-color">dashboard</h5>
					<h1 class="second-color">my account</h1>
					<div class="short-title-separator"></div>
				</div>
			</div>
		</div>
    </section>
	
	<form action="/moredetails" method="post" enctype="multipart/form-data">
	
	<section class="section-light section-top-shadow">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-9 col-md-push-3">
					<div class="row">
						<div class="col-xs-12">
							<h5 class="subtitle-margin">edit</h5>
							<h1>Profile<span class="special-color">.</span></h1>
							<div class="title-separator-primary"></div>
						</div>
					</div>	
					
					<div class="row margin-top-60">
						<div class="col-xs-6 col-xs-offset-3 col-sm-offset-0 col-sm-3 col-md-4">	
							<div class="agent-photos">
								<img src="uploads/<%=image%>" id="agent-profile-photo" class="img-responsive" alt="" required />
								<div class="change-photo">
									<i class="fa fa-pencil fa-lg"></i>
									<input type="file" name="myfiles" accept="image/*" single id="agent-photo" multiple="1" />
								</div>
								<input type="text" disabled="disabled" id="agent-file-name" class="main-input" />
							</div>
						</div>
						<div class="col-xs-12 col-sm-9 col-md-8">
							<div class="labelled-input">
								<label for="first-name">Name</label><input id="first-name" name="name" type="text" class="input-full main-input color" placeholder="Company Name or Your Name" value="<%=companyname%>" required>
								<div class="clearfix"></div>
							</div>
							
							<div class="labelled-input">
								<label for="email">Email</label><input id="email" name="email" type="email" class="input-full main-input color" placeholder="Email" value="<%=email%>"/>
								<div class="clearfix"></div>
							</div>
							
								<div class="labelled-input last">
									<label for="address">Address</label><input id="address" name="address" type="text" class="input-full main-input color" placeholder="Some address here" value="<%=address%>" required/>
									<div class="clearfix"></div>
								</div>
							</div>
							</div>
							<div class="row margin-top-15">
							<div class="col-xs-12">
								<div class="labelled-textarea">
									<label for="description">Description</label>
									<textarea id="description" name="description" type="text" class="input-full main-input color" minlength="50" placeholder="Give Decription"><%=description%></textarea>
								</div>
							</div>
							</div>
							
							<div class="row margin-top-30">
							<div class="col-xs-12 col-lg-6">
								<div class="labelled-input-short">
									<label for="facebook">
										<span class="label-icon-circle pull-left">
											<i style="color:white" class="fa fa-facebook"></i>
										</span>
										Facebook
									</label>
									<input id="facebook" name="facebook" type="text" class="input-full main-input" placeholder="http://facebook.url" value="<%=facebook%> " />
									<div class="clearfix"></div>
								</div>
								<div class="labelled-input-short">
									<label for="gplus">
										<span class="label-icon-circle pull-left">
											<i style="color:white" class="fa fa-globe"></i>
										</span>
										Website
									</label>
									<input id="gplus" name="website" type="text" class="input-full main-input" placeholder="http://website.url" vaue="<%=website%>"/>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-xs-12 col-lg-6">
								<div class="labelled-input-short">
									<label for="twitter">
										<span class="label-icon-circle pull-left">
											<i style="color:white" class="fa fa-instagram"></i>
										</span>
										Instagram
									</label>
									<input id="twitter" name="instagram" type="text" class="input-full main-input" placeholder="http://instagram.url" value="<%=instagram%>" />
									<div class="clearfix"></div>
								</div>
								
							</div>
							</div>
							<!-- <div class="row margin-top-30">
							<div class="col-xs-12">
								<div class="info-box">
									<p>Fill this fields only if you want to change your password</p>
									<div class="small-triangle"></div>
									<div class="small-icon"><i class="fa fa-info fa-lg"></i></div>
								</div>
							</div>
							</div>
							<div class="row margin-top-15">
							<div class="col-xs-12 col-lg-6">
								<div class="labelled-input-short">
									<label for="first-name">New Password</label>
									<input id="password" name="password" type="password" class="input-full main-input" placeholder="" value=""/>
									<div class="clearfix"></div>
								</div>
							</div>
							<div class="col-xs-12 col-lg-6">
								<div class="labelled-input-short">
									<label for="first-name">Repeat Password</label>
									<input id="repeat-password" name="repeat-password" type="password" class="input-full main-input" placeholder="" value=""/>
									<div class="clearfix"></div>
								</div>
							</div>
							</div> -->
							<br>
							<p class="negative-margin bold-indent"><p>
								<div id="geocoder"></div>
								<br>
								<div id="promap"class="submit-property-map"></div>
								<div class="row">
									<div class="col-xs-12 col-sm-6 margin-top-15">
										<input id="longitude" name="longitude" type="text" class="input-full main-input input-last" placeholder="Longitude" readonly="readonly" />
									</div>
									<div class="col-xs-12 col-sm-6 margin-top-15">
										<input id="latitude" name="latitude" type="text" class="input-full main-input input-last" placeholder="Latitude" readonly="readonly" />
									</div>
								</div> 
							<div class="row margin-top-15">
							<div class="col-xs-12">
								<div class="center-button-cont center-button-cont-border">
									<button type="submit" style="all:unset"><a href="#" class="button-primary button-shadow">
										<span>save</span>
										<div class="button-triangle"></div>
										<div class="button-triangle2"></div>
										<div class="button-icon"><i class="fa fa-lg fa-floppy-o"></i></div>
									</a>
								</button>

								</div>
							</div>
								
								
							</div>
							</form>
						
						</div>		

				<div class="col-xs-12 col-md-3 col-md-pull-9">
					<div class="sidebar-left">
						<h3 class="sidebar-title">Welcome back<span class="special-color">.</span></h3>
						<div class="title-separator-primary"></div>
						
						<div class="profile-info margin-top-60">
							<div class="profile-info-title negative-margin"><%=companyname%></div>
							<img style="width:100%;" src="uploads/<%=image%>" alt="" class="pull-left"  />
							<!-- <div class="profile-info-text pull-left">
								<p class="subtitle-margin">Agent</p>
								<p class="">42 Estates</p>
								
								<a href="#" class="logout-link margin-top-30"><i class="fa fa-lg fa-sign-out"></i>Logout</a>
							</div> -->
							<div class="clearfix"></div>
						</div>
						<!-- <div class="center-button-cont margin-top-30">
							<a href="my-offers.html" class="button-primary button-shadow button-full">
								<span>My offers</span>
								<div class="button-triangle"></div>
								<div class="button-triangle2"></div>
								<div class="button-icon"><i class="fa fa-th-list"></i></div>
							</a>
						</div> -->
						<form action="/trusted" method="post">
							<input type="hidden" name="email" value="<%=email%>"/>
						<div class="center-button-cont margin-top-15">
							<button type="submit" class="button-primary button-shadow button-full">
								
								<span>My profile</span>
								<div class="button-triangle"></div>
								<div class="button-triangle2"></div>
								<div class="button-icon"><i class="fa fa-user"></i></div>
							</button>
						</div>
					</form>
					<form action="/myproperty" id="app" method="post">
						<div class="center-button-cont margin-top-15">
							<a href="/myproperty" onclick="event.preventDefault();  document.getElementById('app').submit();" class="button-alternative button-shadow button-full">
								<span>My property</span>
								<div class="button-triangle"></div>
								<div class="button-triangle2"></div>
								<div class="button-icon"><i class="fa-2x fa-solid fa-house"></i></div>
							</a> 
						
						</div>
					</form>
						
                <div class="sidebar-left">
                    
                   
                    <div class="sidebar-title-cont">
                        <h4 class="sidebar-title">featured offers<span class="special-color">.</span></h4>
                        <div class="title-separator-primary"></div>
                    </div>
                    <div class="sidebar-featured-cont" >
                        <div class="sidebar-featured" >
                            <a class="sidebar-featured-image" href="estate-details-right-sidebar.html">
								<img src='uploads\<%=featured[0].image[0]%>'  alt="" />
                                <div class="sidebar-featured-type">
                                    <div class="sidebar-featured-estate"><%=featured[0].submitpropertytype.slice(0,1)%></div>
                                    <div class="sidebar-featured-transaction"><%=featured[0].submittransaction.slice(4,5)%></div>
                                </div>
                            </a>
                            <div class="sidebar-featured-title"><a href="estate-details-right-sidebar.html"><%=featured[0].submitregion%>, <%=featured[0].submitcity%></a></div>
                            <div class="sidebar-featured-price">$<%=featured[0].submitprice%> </div>
                            <div class="clearfix"></div>						
                        </div>
                        <div class="sidebar-featured">
                            <a class="sidebar-featured-image" href="estate-details-right-sidebar.html">
                                <img src="uploads/<%=featured[1].image[0]%>" alt="" />
                                <div class="sidebar-featured-type">
                                    <div class="sidebar-featured-estate"><%=featured[1].submitpropertytype.slice(0,1)%></div>
                                    <div class="sidebar-featured-transaction"><%=featured[1].submittransaction.slice(4,5)%></div>
                                </div>
                            </a>
                            <div class="sidebar-featured-title"><a href="estate-details-right-sidebar.html"><%=featured[1].submitregion%>, <%=featured[1].submitcity%>, <%=featured[1].submitstate%></a></div>
                            <div class="sidebar-featured-price">$<%=featured[1].submitprice%> </div>
                            <div class="clearfix"></div>						
                        </div>
                        <div class="sidebar-featured">
                            <a class="sidebar-featured-image" href="estate-details-right-sidebar.html">
                                <img src="uploads/<%=featured[2].image[0]%>" alt="" />
                                <div class="sidebar-featured-type">
                                    <div class="sidebar-featured-estate"><%=featured[2].submitpropertytype.slice(0,1)%></div>
                                    <div class="sidebar-featured-transaction"><%=featured[2].submittransaction.slice(4,5)%></div>
                                </div>
                            </a>
                            <div class="sidebar-featured-title"><a href="estate-details-right-sidebar.html"><%=featured[2].submitregion%>, <%=featured[2].submitcity%>, <%=featured[2].submitstate%></a></div>
                            <div class="sidebar-featured-price">$<%=featured[2].submitprice%></div>
                            <div class="clearfix"></div>					
                        </div>
                        <div class="sidebar-featured">
                            <a class="sidebar-featured-image" href="estate-details-right-sidebar.html">
                                <img src="uploads/<%=featured[3].image[0]%>" alt="" />
                                <div class="sidebar-featured-type">
                                    <div class="sidebar-featured-estate"><%=featured[3].submitpropertytype.slice(0,1)%></div>
                                    <div class="sidebar-featured-transaction"><%=featured[3].submittransaction.slice(4,5)%></div>
                                </div>
                            </a>
                            <div class="sidebar-featured-title"><a href="estate-details-right-sidebar.html"><%=featured[3].submitregion%>, <%=featured[3].submitcity%>, <%=featured[3].submitstate%></a></div>
                            <div class="sidebar-featured-price">$<%=featured[3].submitprice%></div>
                            <div class="clearfix"></div>					
                        </div>
                        <div class="sidebar-featured">
                            <a class="sidebar-featured-image" href="estate-details-right-sidebar.html">
                                <img src="uploads/<%=featured[4].image[0]%>"  alt="" />
                                <div class="sidebar-featured-type">
                                    <div class="sidebar-featured-estate"><%=featured[4].submitpropertytype.slice(0,1)%></div>
                                    <div class="sidebar-featured-transaction"><%=featured[4].submittransaction.slice(4,5)%></div>
                                </div>
                            </a>
                            <div class="sidebar-featured-title"><a href="estate-details-right-sidebar.html"><%=featured[4].submitregion%>, <%=featured[4].submitcity%>, <%=featured[4].submitstate%></a></div>
                            <div class="sidebar-featured-price">$<%=featured[4].submitprice%></div>
                            <div class="clearfix"></div>					
                        </div>
                        <div class="sidebar-featured">
                            <a class="sidebar-featured-image" href="estate-details-right-sidebar.html">
                                <img src="uploads/<%=featured[5].image[0]%>"  alt="" />
                                <div class="sidebar-featured-type">
                                    <div class="sidebar-featured-estate"><%=featured[5].submitpropertytype.slice(0,1)%></div>
                                    <div class="sidebar-featured-transaction"><%=featured[5].submittransaction.slice(4,5)%></div>
                                </div>
                            </a>
                            <div class="sidebar-featured-title"><a href="estate-details-right-sidebar.html"><%=featured[5].submitregion%>, <%=featured[5].submitcity%>, <%=featured[5].submitstate%></a></div>
                            <div class="sidebar-featured-price">$<%=featured[5].submitprice%></div>
                            <div class="clearfix"></div>					
                        </div>
                        <div class="sidebar-featured">
                            <a class="sidebar-featured-image" href="estate-details-right-sidebar.html">
                                <img src="uploads/<%=featured[6].image[0]%>"  alt="" />
                                <div class="sidebar-featured-type">
                                    <div class="sidebar-featured-estate"><%=featured[6].submitpropertytype.slice(0,1)%></div>
                                    <div class="sidebar-featured-transaction"><%=featured[6].submittransaction.slice(4,5)%></div>
                                </div>
                            </a>
                            <div class="sidebar-featured-title"><a href="estate-details-right-sidebar.html"><%=featured[6].submitregion%>, <%=featured[6].submitcity%>, <%=featured[6].submitstate%></a></div>
                            <div class="sidebar-featured-price">$<%=featured[6].submitprice%></div>
                            <div class="clearfix"></div>					
                        </div>
                        <div class="sidebar-featured">
                            <a class="sidebar-featured-image" href="estate-details-right-sidebar.html">
                                <img src="uploads/<%=featured[7].image[0]%>"  alt="" />
                                <div class="sidebar-featured-type">
                                    <div class="sidebar-featured-estate"><%=featured[7].submitpropertytype.slice(0,1)%></div>
                                    <div class="sidebar-featured-transaction"><%=featured[7].submittransaction.slice(4,5)%></div>
                                </div>
                            </a>
                            <div class="sidebar-featured-title"><a href="estate-details-right-sidebar.html"><%=featured[7].submitregion%>, <%=featured[7].submitcity%>, <%=featured[7].submitstate%></a></div>
                            <div class="sidebar-featured-price">$<%=featured[7].submitprice%></div>
                            <div class="clearfix"></div>					
                        </div>
                        <!-- <div class="sidebar-featured">
                            <a class="sidebar-featured-image" href="estate-details-right-sidebar.html">
                                <img src="images/sidebar-featured3.jpg" alt="" />
                                <div class="sidebar-featured-type">
                                    <div class="sidebar-featured-estate">A</div>
                                    <div class="sidebar-featured-transaction">S</div>
                                </div>
                            </a>
                            <div class="sidebar-featured-title"><a href="estate-details-right-sidebar.html">E. Elwood St. Phoenix, AZ 85034, USA</a></div>
                            <div class="sidebar-featured-price">$ 410 000</div>
                            <div class="clearfix"></div>					
                        </div> -->
                    </div>
                    
                </div>
            </div>
				</div>
			</div>
		</div>
		
	</section>

	

   

<!-- Move to top button -->

<div class="move-top">
	<div class="big-triangle-second-color"></div>
	<div class="big-icon-second-color"><i class="jfont fa-lg">&#xe803;</i></div>
</div>

<script>
    
		mapboxgl.accessToken = 'pk.eyJ1Ijoicml0ZXNoa3VtYXJzaW5naCIsImEiOiJjbDhkYm1ubnEwcm8yM3hxOWpneWU0d25wIn0.cpLNiwhiFrTD7QkkAyMX3Q';
		var map = new mapboxgl.Map({
		  container: 'promap',
		  style: 'mapbox://styles/mapbox/streets-v11',
		  center: [77.1025,28.7041],
			zoom: 14,
			streetViewControl: true,
		});
			map.addControl(new mapboxgl.GeolocateControl({
				positionOption:{
					enableHighAccuracy:true
				},
				trackUserLocation:true
			}))
			map.addControl(new mapboxgl.NavigationControl());
			const geocoder = new MapboxGeocoder({
				accessToken: mapboxgl.accessToken,
				mapboxgl: mapboxgl,
				marker: true,
				placeholder: 'Search and Mark',
		
				});
			 
				document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
			
		map.on('click', (e) => {
		
			document.getElementById('latitude').value =
				(e.lngLat.lat);
			document.getElementById('longitude').value =
				(e.lngLat.lng);
				const marker = new mapboxgl.Marker() 
		.setLngLat([e.lngLat.lng,e.lngLat.lat]) 
		.addTo(map); 
		map.on('click', function() {
			marker.remove()
		});  
		
		});
		

	</script>

	
<%- include("login") -%>
<%- include("register") -%>
<%- include("forget") -%>
<%- include("partials/footer") -%>
