<%- include("partials/header") -%>
  	<script>
		function commercial(){
			document.getElementById("sbed").style.display="hidden";
			document.getElementById("sbath").style.display="hidden";
			document.getElementById("spark").style.display="hidden";
        }
		function land(){
			document.getElementById("sbed").style.display="hidden";
			document.getElementById("sbath").style.display="hidden";
			document.getElementById("spark").style.display="hidden";
        }
		
	</script>
    <section class="short-image no-padding blog-short-title">  
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-lg-12 short-image-title">
					<h5 class="subtitle-margin second-color">add listing</h5>
					<h1 class="second-color">my account</h1>
					<div class="short-title-separator"></div>
				</div>
			</div>
		</div>
    </section>
	
	<section class="section-light section-top-shadow">
		<form action="/submit-property" method="post" enctype="multipart/form-data">
			<div class="container">
				<div class="row">
					<div class="col-xs-12 col-md-6">
						<h3 class="title-negative-margin">Listing details<span class="special-color">.</span></h3>
						<div class="title-separator-primary"></div>
						<div class="dark-col margin-top-60">
							<div class="row">
								
								<div class="col-xs-12 col-sm-6">
									<select name="submitpropertytype" class="bootstrap-select" title="Property type:">
										<option name="a"  value="Apartment">Apartment</option>
										<option name="a"  value="House">House</option>
										<!-- <option name="a"  value="Commercial">Commercial</option>
										<option name="a" onclick="land()" value="Land">Land</option> -->
									</select>
								</div>
								<div class="col-xs-12 col-sm-6 margin-top-xs-15">
									<select name="submittransaction" class="bootstrap-select" title="Transaction:">
										<option name="b" vlaue="For sale">For sale</option>
										<option name="b" value="For rent">For rent</option>
									</select>
								</div>
								<div class="col-xs-12 col-sm-6 margin-top-15">
									<input name="submitprice" id="price" type="number" class="input-full main-input" placeholder="Price" />
									
									
								</div>
							
  
 
							
								<div class="col-xs-12 col-sm-6 margin-top-15 margin-top-xs-0">
									
									<input name="submitarea" id="input-box" type="number" class="input-full main-input" placeholder="Area in square feet"/>
									
								
								</div>
								
								
								<div class="col-xs-12 col-sm-6 ">
									<input name="submitbedrooms" id="sbed" type="text" class="input-full main-input" placeholder="No of Bedrooms" />
								</div>
								<div class="col-xs-12 col-sm-6">
									<input name="submitbathrooms" id="sbath" type="text" class="input-full main-input" placeholder="No of Bathrooms" />
								</div>
								<div class="col-xs-12 col-sm-6">
									<input name="submitparking" id="spark" type="text" class="input-full main-input" placeholder="No of Parking" />
								</div>
								<div class="col-xs-12 col-sm-6 margin-top-xs-15">
									<select name="submitavailability" class="bootstrap-select" title="Property Availability">
										<option name="c" vlaue="Under Construction">Under Construction</option>
										<option name="c" value="Ready to Move
										">Ready to Move
										</option>
									</select>
								</div>
							</div>
							<textarea name="submitmessage" class="input-full main-input property-textarea" minlength="120" placeholder="Description"></textarea>
							<div class="row">
								<div class="col-xs-12 col-sm-4 col-md-6 col-lg-4 margin-top-15">
									<input type="checkbox" id="c1" name="cc" class="main-checkbox" />
									<label for="c1"><span></span>Air Conditioning</label><br/>
									<input type="checkbox" id="c2" name="cc" class="main-checkbox" />
									<label for="c2"><span></span>Internet</label><br/>
									<input type="checkbox" id="c3" name="cc" class="main-checkbox" />
									<label for="c3"><span></span>Cable TV</label><br/>
									<input type="checkbox" id="c4" name="cc" class="main-checkbox" />
									<label for="c4"><span></span>Balcony</label><br/>
									<input type="checkbox" id="c5" name="cc" class="main-checkbox" />
									<label for="c5"><span></span>Roof Terrace</label><br/>
									<input type="checkbox" id="c6" name="cc" class="main-checkbox" />
									<label for="c6"><span></span>Terrace</label>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-6 col-lg-4 margin-top-15">
									<input type="checkbox" id="c7" name="cc" class="main-checkbox" />
									<label for="c7"><span></span>Lift</label><br/>
									<input type="checkbox" id="c8" name="cc" class="main-checkbox" />
									<label for="c8"><span></span>Garage</label><br/>
									<input type="checkbox" id="c9" name="cc" class="main-checkbox" />
									<label for="c9"><span></span>Security</label><br/>
									<input type="checkbox" id="c10" name="cc" class="main-checkbox" />
									<label for="c10"><span></span>High Standard</label><br/>
									<input type="checkbox" id="c11" name="cc" class="main-checkbox" />
									<label for="c11"><span></span>City Centre</label><br/>
									<input type="checkbox" id="c12" name="cc" class="main-checkbox" />
									<label for="c12"><span></span>Furniture</label>
								</div>
								<div class="col-xs-12 col-sm-4 col-md-6 col-lg-4 margin-top-15">
									<input type="checkbox" id="c13" name="cc" class="main-checkbox" />
									<label for="c13"><span></span>Registery</label><br/>
									<input type="checkbox" id="c14" name="cc" class="main-checkbox" />
									<label for="c14"><span></span>Inverter</label><br/>
									<input type="checkbox" id="c15" name="cc" class="main-checkbox" />
									<label for="c15"><span></span>Furnished</label><br/>
									<input type="checkbox" id="c16" name="cc" class="main-checkbox" />
									<label for="c16"><span></span>Semi-Furnished</label><br/>
									<input type="checkbox" id="c17" name="cc" class="main-checkbox" />
									<label for="c17"><span></span>Power of Attorney</label><br/>
									<input type="checkbox" id="c18" name="cc" class="main-checkbox" />
									<!-- <label for="c18"><span></span></label> -->
								</div>
							</div>
						</div>				
					</div>
					<div class="col-xs-12 col-md-6 margin-top-xs-60 margin-top-sm-60">
						<h3 class="title-negative-margin">Localization<span class="special-color">.</span></h3>
						<div class="title-separator-primary"></div>
						<div class="dark-col margin-top-60">
							
							<!-- leave the first input tag and delete rest 3 after I link google map api id=geocomplete and name=Geocomplete -->
							<!-- <mapbox-search-box class="input-full main-input"  access-token='pk.eyJ1Ijoicml0ZXNoa3VtYXJzaW5naCIsImEiOiJjbDhkYm1ubnEwcm8yM3hxOWpneWU0d25wIn0.cpLNiwhiFrTD7QkkAyMX3Q' proximity="0,0"></mapbox-search-box> -->
							<input id=""  name="submitcity" type="text" class="input-full main-input" placeholder="Enter Your City" />
							<input id="" name="submitregion" type="text" class="input-full main-input" placeholder="Sector/Region" />
							<input id="" name="landmark" type="text" class="input-full main-input" placeholder="Landmark" />
							<input id="" name="state" type="text" class="input-full main-input" placeholder="State" />
				
							 <p class="negative-margin bold-indent"><p>
							<div id="geocoder"></div>
							<br>
							<div id="submitmap" class="submit-property-map"></div>
							<div class="row">
								<div class="col-xs-12 col-sm-6 margin-top-15">
									<input id="longitude" name="longitude" type="text" class="input-full main-input input-last" placeholder="Longitude" readonly="readonly" />
								</div>
								<div class="col-xs-12 col-sm-6 margin-top-15">
									<input id="latitude" name="latitude" type="text" class="input-full main-input input-last" placeholder="Latitude" readonly="readonly" />
								</div>
							</div> 
						</div>
					</div>
					<div class="col-xs-12 margin-top-60">
						<h3 class="title-negative-margin">gallery<span class="special-color">.</span></h3>
						<div class="title-separator-primary"></div>
					</div>
					<div class="col-xs-12 margin-top-60">
						<input id="file-upload" name="myfiles" type="file" accept="image/*" multiple="8">
					</div>
					<div class="col-xs-12">
						<div class="center-button-cont margin-top-60">
							<button type="submit" style="all:unset"><a href="" class="button-primary button-shadow">
								<span>submit property</span>
								<div class="button-triangle"></div>
								<div class="button-triangle2"></div>
								<div class="button-icon"><i class="fa fa-lg fa-home"></i></div>
							</a>
						</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</section>

	
	
		
   

<!-- Move to top button -->

<div class="move-top">
	<div class="big-triangle-second-color"></div>
	<div class="big-icon-second-color"><i class="jfont fa-lg">&#xe803;</i></div>
</div>	

<script>
		
mapboxgl.accessToken = 'pk.eyJ1Ijoicml0ZXNoa3VtYXJzaW5naCIsImEiOiJjbDhkYm1ubnEwcm8yM3hxOWpneWU0d25wIn0.cpLNiwhiFrTD7QkkAyMX3Q';
var map = new mapboxgl.Map({
  container: 'submitmap',
  style: 'mapbox://styles/mapbox/streets-v11',
  center: [77.1025,28.7041],
    zoom: 14,
    streetViewControl: true,
});
	map.addControl(new mapboxgl.GeolocateControl({
		positionOption:{
			enableHighAccuracy:true
		},
		trackUserLocation:true
	}))
	map.addControl(new mapboxgl.NavigationControl());
	const geocoder = new MapboxGeocoder({
		accessToken: mapboxgl.accessToken,
		mapboxgl: mapboxgl,
		marker: true,
		placeholder: 'Search and Mark',

		});
     
		document.getElementById('geocoder').appendChild(geocoder.onAdd(map));
    
map.on('click', (e) => {

	document.getElementById('latitude').value =
		(e.lngLat.lat);
	document.getElementById('longitude').value =
		(e.lngLat.lng);
		const marker = new mapboxgl.Marker() 
.setLngLat([e.lngLat.lng,e.lngLat.lat]) 
.addTo(map); 
map.on('click', function() {
	marker.remove()
});  

});

		
</script>
<%if(notsigned){%>
	<script>
		window.onload = function(){
	  document.getElementById('registermodalcheck').click();
	  
	var scriptTag = document.createElement("script");
	scriptTag.src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js";
	document.getElementsByTagName("head")[0].appendChild(scriptTag);
	}

	const priceInput = document.getElementById("price");
const currencySelect = document.getElementById("currency");

currencySelect.addEventListener("change", function() {
  console.log("Selected currency: ", this.value);
});

priceInput.addEventListener("input", function() {
  console.log("Entered price: ", this.value);
});
	</script>
	<%};%>



	<%- include("login") -%>
<%- include("register") -%>
<%- include("forget") -%>
<%- include("partials/footer") -%>
	