<%- include("partials/header") -%>	
<div>
    <a href="#register-modal"  id="registermodalcheck" data-toggle="modal">Register</a>
</div>

</script>
<%- include("login") -%>
	<%- include("register") -%>
	<%- include("forget") -%>
	<%- include("partials/footer") -%>